header
    .menu
        background-color: #212529
        width: 100%
        padding: 25px 50px
        position: fixed
        z-index: 1
        left: 0
        .imgbox
            width: 140px
        nav
            a
                font-size: 18px
                margin-left: 35px
                letter-spacing: 1px
                &:hover
                    color: #ce7a29
        .btn
            display: none

    @media screen and ( max-width: 993px )
        .menu
            padding: 25px 30px
            .btn
                display: block
                width: 80px
                border: 1px solid #383b3f
                border-radius: 6px
                color: #9b9d9e
                ul
                    display: flex
                    justify-content: center
                    align-items: center
                    h4
                        font-size: 13px
                        font-weight: 700
                    .icon
                        font-size: 12px
                        margin-left: 9px
            nav
                display: none