#services
    .textbox
        letter-spacing: 1px
        padding-bottom: 50px
        h1
            font-size: 40px
            font-weight: 700
            color: #212529
            margin-bottom: 10px
        h3
            font-size: 18px
            color: #6c757d
    .box
        display: flex
        justify-content: center  
        .icon
            display: flex
            justify-content: center
            align-items: center
            width: 130px
            height: 130px
            background-color: #ffc800
            border-radius: 50%
            padding: 37px
            i
                font-size: 60px
                color: #ffff
    .textbox
        h2
            font-size: 28px
            font-weight: 700
            color: #252529
            margin: 15px 0 10px
        p
            font-size: 18px
            color: #6c757d
            line-height: 1.6
