#social
    .box
        display: flex
        justify-content: center
        align-items: center
        .imgbox
            width: 150px
            margin: 25px 0
            img
                &:hover
                    cursor: pointer