#social
    padding: 60px 0
    .box
        padding: 0 50px
        .imgbox
            width: 120px
        .ms
            width: 200px
        .ibm
            width: 200px

    @media screen and ( max-width: 576px )
        .box
            .imgbox
                margin: 15px 0