body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

section {
  padding: 80px 0;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header .menu {
  background-color: #212529;
  padding: 10px 0;
  height: 70px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}
header .menu .imgbox {
  width: 140px;
  margin-left: 120px;
}
header .btn {
  display: flex;
  align-items: center;
  color: white;
  border: 1px solid #383b3f;
  letter-spacing: 1px;
  opacity: 0.6;
  padding: 6px 10px;
  display: none;
}
header .btn h4 {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
header .btn .icon {
  margin-left: 7px;
  cursor: pointer;
}
header nav {
  margin-right: 120px;
}
header nav a {
  font-size: 18px;
  margin: 0 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
header nav a:hover {
  color: #ce7a29;
}
@media screen and (max-width: 576px) {
  header .menu .imgbox {
    margin-left: 10px;
  }
  header .menu .btn {
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  header .menu .imgbox {
    margin-left: 20px;
  }
  header .menu .btn {
    display: flex;
    margin-right: 20px;
    padding: 6px 10px;
  }
  header .menu nav {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  header .menu .imgbox {
    margin-left: 40px;
  }
  header .menu nav {
    margin-right: 55px;
  }
  header .menu nav a {
    margin: 0 10px;
  }
}

#welcome {
  background-image: url(assets/2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#welcome .box {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  word-spacing: 2px;
}
#welcome .box .textbox h3 {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
}
#welcome .box .textbox h1 {
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 60px;
}
#welcome .box .textbox .btn {
  padding: 20px 45px;
  border-radius: 5px;
  background-color: #ffc800;
}
#welcome .box .textbox .btn h4 {
  font-size: 18px;
  font-weight: 700;
  color: #fffcf8;
  cursor: pointer;
}
#welcome .box .textbox .btn:hover {
  background-color: #d9aa00;
}
@media screen and (max-width: 768px) {
  #welcome .box .textbox h3 {
    font-size: 30px;
  }
  #welcome .box .textbox h1 {
    font-size: 60px;
  }
}

#services .textbox {
  letter-spacing: 1px;
  padding-bottom: 50px;
}
#services .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 10px;
}
#services .textbox h3 {
  font-size: 20px;
  color: #6c757d;
}
#services .box {
  display: flex;
  justify-content: center;
}
#services .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 50%;
  padding: 37px;
}
#services .box .icon i {
  font-size: 60px;
  color: white;
}
#services .textbox h2 {
  font-size: 28px;
  font-weight: 700;
  color: #252529;
  margin: 15px 0 10px;
}
#services .textbox p {
  font-size: 18px;
  color: #6c757d;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  #services .textbox {
    padding-bottom: 50px;
  }
  #services .textbox h1 {
    font-size: 35px;
  }
  #services .textbox h2 {
    font-size: 25px;
  }
  #services .textbox h3 {
    font-size: 18px;
  }
  #services .textbox p {
    font-size: 17px;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio .textbox {
  padding-top: 40px;
}
#portfolio .textbox h1 {
  font-size: 35px;
  font-weight: 700;
  color: #212529;
  letter-spacing: 1px;
}
#portfolio .textbox h3 {
  font-size: 19px;
  color: #8b9298;
  margin: 20px 0 60px;
}
#portfolio .box {
  background-color: white;
  margin-bottom: 25px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  font-size: 60px;
  color: #ffffff;
}
#portfolio .box .imgbox .icon:hover {
  background-color: #f8cb09;
  opacity: 0.9;
  cursor: pointer;
}
#portfolio .box .textbox {
  padding: 25px;
}
#portfolio .box .textbox h2 {
  font-size: 29px;
  font-weight: 700;
  color: #212529;
  line-height: 1.2;
}
#portfolio .box .textbox h4 {
  font-size: 20px;
  color: #8c9299;
  margin-top: 10px;
}

#about .textbox {
  width: auto;
  letter-spacing: 1px;
}
#about .textbox h1 {
  font-size: 36px;
  font-weight: 700;
  color: #212529;
}
#about .textbox h4 {
  font-size: 18px;
  color: #7d7e81;
  margin: 20px 0;
}
#about .box {
  margin-top: 50px;
  text-align: center;
}
#about .box .textbox {
  width: 450px;
  padding-left: 20px;
  letter-spacing: 0.5px;
  margin-left: 80px;
}
#about .box .textbox h2, #about .box .textbox h3 {
  font-size: 25px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 15px;
}
#about .box .textbox p {
  font-size: 18px;
  color: #6c757d;
  line-height: 1.6;
}
#about .box .imgbox {
  width: 160px;
  height: 160px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  margin-left: 35px;
}
#about .box .month {
  margin-right: 50px;
}
#about .minibox {
  width: 160px;
  border: 7px solid #e9ecef;
  padding: 33px 30px;
  border-radius: 50%;
  background-color: #ffc800;
}
#about .minibox h5 {
  font-size: 23px;
  font-weight: 700;
  color: #fffefd;
  line-height: 1.2;
}

#team {
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
  color: #212529;
  margin-top: 20px;
}
#team h3 {
  font-size: 18px;
  color: #70757d;
  margin: 30px 0 65px;
}
#team .box {
  text-align: center;
  padding-bottom: 50px;
}
#team .box .imgbox {
  width: 220px;
  border: 8px solid #dfe0e1;
  border-radius: 50%;
}
#team .box .textbox {
  width: auto;
  text-align: center;
  margin: 15px 0;
}
#team .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  color: #212529;
}
#team .box .textbox h4 {
  font-size: 18px;
  color: #707981;
  margin-top: 10px;
}
#team .box ul {
  display: flex;
  justify-content: center;
}
#team .box ul li {
  font-size: 14px;
  color: white;
  background-color: #212529;
  border-radius: 50%;
  padding: 13px;
  margin: 10px;
}
#team .box ul li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  transition: 0.5s;
  cursor: pointer;
}
#team .box ul li .icon:hover {
  background-color: #424649;
}
#team .textbox {
  width: 850px;
}
#team .textbox p {
  font-size: 19px;
  color: #74797f;
  margin-bottom: 50px;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  #team .textbox h1 {
    font-size: 38px;
  }
  #team .textbox h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  #team .textbox h3 {
    font-size: 19px;
  }
}
@media screen and (max-width: 992px) {
  #team .textbox p {
    font-size: 20px;
  }
}

#social {
  padding: 60px 0;
}
#social .box {
  padding: 0 50px;
}
#social .box .imgbox {
  width: 120px;
}
#social .box .ms {
  width: 200px;
}
#social .box .ibm {
  width: 200px;
}
@media screen and (max-width: 576px) {
  #social .box .imgbox {
    margin: 15px 0;
  }
}

#contact {
  background-image: url(assets/20.png);
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: center center;
}
#contact h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-top: 60px;
}
#contact h3 {
  font-size: 20px;
  color: #697075;
  margin: 20px 0 70px;
}
#contact .place {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .place input {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  height: 67px;
}
#contact .box {
  display: flex;
  justify-content: center;
}
#contact .box textarea {
  font-size: 18px;
  font-weight: 700;
  padding: 25px 15px;
  border: 1px solid #c39c0b;
  border-radius: 6px;
}
#contact .btn {
  padding: 20px 55px;
  border-radius: 5px;
  background-color: #b49211;
  margin-top: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
}
#contact .btn h4 {
  font-size: 18px;
  font-weight: 700;
  color: #fffcf8;
}
@media screen and (max-width: 576px) {
  #contact .textbox h1 {
    font-size: 45px;
  }
  #contact .textbox h3 {
    font-size: 18px;
  }
}

footer {
  padding: 22px 0;
}
footer h6 {
  color: #424750;
  font-size: 18px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  background-color: #212529;
  color: #ffffff;
  border-radius: 30px;
  margin: 0 10px;
  cursor: pointer;
}
footer ul li .icon:hover {
  background-color: #424649;
  transition: 0.5s;
}
footer .minibox {
  display: flex;
  justify-content: center;
}
footer .minibox p {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  footer .menu {
    display: flex;
    flex-direction: column;
  }
  footer .menu ul {
    margin: 15px 0;
  }
}/*# sourceMappingURL=style.css.map */